* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(233, 229, 229);
}

.myContainer {
    width: 1200px;
    margin: 0 auto;
}


/* NAVBAR components */

.white-top {
    width: 100%;
    height: 40px;
}

.white-top .logo {
    margin-left : 20px;
    margin-top: 15px;
}
.white-top .brandName {
    margin-left : 100px;
    margin-top: 15px;
    font-size: 120%;
}

.blueAndButtons {
    background-color: rgb(14, 110, 110);
    width: 100%;
    height: 70px;
    position: relative;
}

.blueAndButtons a {
    text-decoration: none;
    color: rgb(14, 110, 110);
    border-radius: 50px;
    font-size: 80%;
    font-weight: bold;
    padding: 20px;
}


.logInAndSignup {
    display: block;
    margin: auto;
    width: 200px;
    top: 42px;
}

.blueAndButtons button{
    border-radius: 15px;
    width: 100px;
}

.signupBtn:hover {
    background-color: white;
    font-size: 110%;
}

.loginBtn:hover {
    background-color: white;
    font-size: 100%;
}


/* SIGNUP : styles  */

.signupWrapper {
    width: 400px;
    height: 440px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
}
.signup-header {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.signupWrapper form{
    margin: 0 auto;
    margin-top: 15px;
    width: 60%;
}


.signupWrapper form input[type="text"],
.signupWrapper form input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 30px;
    border: 1.5px solid rgb(187, 179, 179);
    padding-left: 25px;
    font-size: 90%;
    color: rgb(80, 77, 80);
}

.signupUsLabel {
    text-transform: uppercase;
    font-size: 90%;
    color: rgb(10, 68, 68);
    font-weight: bold;
}


.signupWrapper form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radioWrapper .radio {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 8px 30px;
    font-size: 100%;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    border: 1px solid rgb(146, 148, 147);
    color: rgb(8, 70, 70);
}

.radioWrapper .radio:hover {
   background-color: rgb(233, 225, 225);
}

.signup-btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

.signup-btn button{
   width: 240px;
   border-radius: 10px;
   background-color: rgb(14, 110, 110);
   margin-bottom: 15px;
}

.signup-btn button:hover{
    border-radius: 10px;
    background-color: rgb(14, 110, 110);
}

.linesAndOr {
    margin: 0 auto;
    position: relative;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.line {
    width: 105px;
    height: 1px;
    background-color: rgb(97, 105, 105);
}

.or{
    position: absolute;
    top: -9px;
    left: 112px;
}


.google-btn {
    width: 240px;
    margin: 0 auto;
}
.google-btn button{
    margin-top: 20px;
    width: 240px;
    border-radius: 10px;
}

.google-btn button:hover{
    background-color: rgb(18, 50, 155);
    border: 1px solidrgb(18, 50, 155);
}


/*  LOGIN  : styles */

.loginWrapper {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: rgb(255, 255, 255);
    box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
}

.login-header {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.loginWrapper form{
    margin: 0 auto;
    margin-top: 15px;
    width: 60%;
}


.loginWrapper form input[type="text"],
.loginWrapper form input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 30px;
    border: 1.5px solid rgb(187, 179, 179);
    padding-left: 25px;
    font-size: 90%;
    color: rgb(80, 77, 80);
}


/*  MAIN STYLES  */


/* MAIN TOP  */

.top-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}
.brand-logo {
    width: 200px;
    background-color: white;
    height: 100%;
    
}
.brand-name {
    text-align: center;
    color: black;
    font-size: 100%;
    margin-top: 20px;
    font-weight: 800;
}

.dashboard {
    height: 100%;
    width: 1200px;
    background-color: rgb(27, 119, 119);
}

.dashboard-text {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    margin-left: 10%;
    margin-top: 15px;
    font-size: 120%;
    font-weight: 600;
}


.top-buttons {
    height: 100%;
    display: flex;
    width: 250px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

.icon-button {
    width: 50px;
    height: 50px;
    padding: 12px;
    border: 1px solid rgb(137, 173, 173);
    background-color: rgb(203, 223, 223);
    border-radius: 300px;
    color: rgb(14, 110, 110);
}

.icon-button:hover {
    color: white;
    background-color: rgb(10, 68, 68);
}

/*  Your Bets And Search Button  */

.searchAndYourBets{
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.your-bets {
    font-size: 200%;
    color: rgb(14, 110, 110);
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 12px;
}

.search input{
    font-size: 150%;
    padding: 10px 5px;
    width: 400px;
    border: none;
    border-bottom: 2px solid rgb(117, 122, 122);
    background: transparent;
    color: gray;
}


/* STATUS COMPONENT */

.status-wrapper {
    width: 190px;
    height: 120px;
    margin-right: 38px;
    background-color: white;
    box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease;
    margin-bottom: 50px;
}

.count {
    font-size: 250%;
}

.status-name {
    font-size: 100%;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.452);
}

.status-icon {
    padding: 8px 12px;
    border-radius: 200px;
    background-color: rgb(139, 184, 184);
    color :rgb(14, 110, 110);
}

.status-wrapper:hover{
    background-color: rgb(14, 110, 110);
}

.status-wrapper:hover .status-icon {
    background-color: rgb(70, 136, 136);
    color :rgb(255, 255, 255);
}

.status-wrapper:hover .status-name {
    color :rgb(255, 255, 255);
}
.status-wrapper:hover .count {
    color :rgb(255, 255, 255);
}

.status-list {
    margin-left: 112px;
}


/* BOXES  */

.betList {
    margin-left: 100px;
}

.box {
    margin-bottom: 50px;
    width: 300px;
    height: 320px;
    box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
    background-color: white;
    border-radius: 10px;
}

.blue-line {
    background-color:rgb(14, 110, 110);
    width: 100%;
    height: 8px;
    border-radius: 3px;
}

.setup-bet {
    margin-top: 35px;
    text-align: center;
    color: rgb(14, 110, 110);
    font-weight: 600;
}

.addBetIcon {
    border: none;
    background: transparent;
    color: rgb(14, 110, 110);
    margin-left: 100px;
    margin-top: 25px;
} 



.initiate-bet-button {
    margin-top: 77px;
    margin-left: 95px;
    font-size: 90%;
    padding: 2px 30px;
    background-color: rgb(14, 110, 110);
    color: white;
    border: none;
    border-radius: 20px;
}

/*  BET ALREADY CREATED */

.hostAndMember {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.key {
    color: rgba(107, 103, 103, 0.603);
    font-size: 85%;
}

.value {
    font-weight: 800;
    font-size: 95%;
}

.mem {
    margin-left: 20px;
}

.witCatAndDays {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.moneyAndAmount {
    margin-top: 15px;
    text-align: center;
}

.money {
    color:rgb(14, 110, 110);
    font-size: 110%;
    font-weight:900;
}

.dateWrapper {
    margin-top: 10px;
    display: flex;
    margin-left: 25px;
}

.view-button {
    margin-top: 20px;
    margin-left: 95px;
    font-size: 90%;
    padding: 2px 30px;
    background-color: rgb(14, 110, 110);
    color: white;
    border: none;
    border-radius: 20px;
}

.view-button:hover{
    background-color: white;
    border: 2px solid rgb(14, 110, 110);
    color :rgb(10, 68, 68)
}


/* NOTIFICATION PANEL */

.notification-wrapper {
    width:100%;
    height: fit-content;
    box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
    margin-bottom: 25px;
    background-color: white;
}

.notification-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-notification {
    margin-top: 15px;
    display: flex;
}

.money {
    margin-right: 30px;
}

.category {
    margin-left: 30px;
    margin-top:4px;
}

.member {
    margin-left: 30px;
    margin-top:4px;
}

.left-notification {
    margin-top: 15px;
}

.notification-header {
    color: rgb(21, 88, 88);
    font-weight: 700;
    font-size: 90%;
}

.notification-description {
    font-size: 90%;
}

.notification-date {
    font-size: 90%;
    color: rgba(117, 122, 122, 0.459);
}


/* PROFILE PAGE STYLES  */







/*  RESPONSIVE DESIGNS  */


@media only screen and (max-width: 700px) {
    
    .notification-wrapper {
        width:100%;
        height: 250px;
        font-size: 60%;
        
    }
    .notification-header {
        margin-bottom: 10px;
    } 
    .notification-description {
        margin-bottom: 10px;
    }
    .money {
        margin-left: 15px;
    }

    .category {
        margin-left: 20px;
        margin-top:4px;
    }

    .status-list {
        margin-left: 20px;
    }

    .status-wrapper {
        width: 160px;
        height: 120px;
        margin-right: 20px;
        background-color: white;
        box-shadow:  0px 0px 1px 1px  rgb(196, 193, 193);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 0.5s ease;
        margin-bottom: 50px;
    }

    .betList {
        margin-left: 20px;
    }
    
}


@media only screen and (max-width: 1100px) {

    .notification-wrapper {
        height: 250px;
        font-size: 80%;
    }
    .your-bets {
        font-size: 100%;
        color: rgb(10, 68, 68);
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 5px;
    }
    .search input{
        font-size: 100%;
        padding: 5px 2px;
        width: 200px;
        border: none;
        border-bottom: 1.5px solid rgb(117, 122, 122);
        background: transparent;
        color: gray;
    }

    .betList {
        margin-left: 50px;
    }
    
}

@media only screen and (max-width: 500px) {
    .notification-header {
        margin-bottom: 10px;
    } 
    .notification-description {
        margin-bottom: 10px;
    }
    .notification-wrapper {
        height: 250px;
        font-size: 40%;
    }   
}